@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content {
    display: flex;
}

.page-wrap {
    flex-grow: 1;
    padding: 20px;
}
