.purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #340fae;
    --primary-color: #af12d3;
    --secondary-color: #faf4fb;
    --inverted-primary-color: #faf4fb;
    --inverted-secondary-color: #af12d3;

    // skeleton
    --skeleton-color: #ffffff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
