.purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #340fae;
    --primary-color: #c96de1;
    --secondary-color: #ce58f1;
    --inverted-primary-color: #faf4fb;
    --inverted-secondary-color: #af12d3;

    // skeleton
    --skeleton-color: #ffffff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-bg: #fff;
}
